.page-header {
    background-color: #ffffff;
    margin-top: 0;
    padding: 20px 20px 20px 50px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000000;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', cursive;
}

.date {
    color: #828282;
    font-size: 8pt;
}

.save {
    float: right;
}

.btn, .save {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000000;
    float: right;
    font-size: 20pt;
    margin-right: 40px;
    margin-top: 25px;
}

.post {
    margin-bottom: 70px;
    font-size: 12pt;
    font-family: 'Abhaya Libre', sans-serif;
}

.post h2, .post h2 a, .post h2 a:visited, .post h2 a:active {
    color: #000000;
    font-family: 'Roboto Slab', serif;
}

.text { /*two lines*/
    overflow: hidden;
    position: relative;
    line-height: 22px;
    /* height must be a multiple of line-height for how many rows you want to show (height = line-height x rows) */
    height: 110px;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.socials {
    background-color: #ffffff;
    text-align: right;
    margin-right: 55px;
}

.page-bottom h1, .page-bottom h1 b, .page-bottom h1 b:visited, .page-bottom h1 b:active {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    color: #828282;
    font-family: 'Abhaya Libre', sans-serif;
    font-size: 8pt;
    text-align: right;
    padding: 0px 30px 0px 0px;
}
